# Server Port
PORT=3000

# Database
MONGODB_URI=mongodb://localhost:27017/womens-pg

# Session Secret
SESSION_SECRET=your_session_secret_key

# Google OAuth & Nodemailer Credentials
GOOGLEUSER=your_email@gmail.com
GOOGLECLIENTID=your_google_client_id
GOOGLECLIENTSECRET=your_google_client_secret
GOOGLEREFRESHTOKEN=your_google_refresh_token
